/*  Adobe Fonts     */

@import url("https://use.typekit.net/xnv6jcn.css");

/*  Tailwind CSS    */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #fc6900;
    width: 10px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    /*  Set darkmode color */
  }
}

#ticker {
  pointer-events: none !important;
}
